{{ ansible_managed | comment }}
[Unit]
Description=rkhunter rootkit check (debian-hardening)

[Service]
Type=oneshot
ExecStart=/usr/bin/rkhunter --check --skip-keypress --report-warnings-only --nocolors
